html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}

.row{
  background-color: #EEE;
  width:100%;
  margin-bottom: 20px;
}
.row::after{
  content: "";
  display: table;
  clear: both;
}
main.container{
  margin: 0 auto;
  width: 90%;
}
.column{
  float: left;
  padding: 10px;
  margin: 0px;
  border: 1px solid black;
}
.column.one-half{
  width: 50%;
  border: 1px solid black;
}
.column.one-fourth{
  width: 25%;
}
.column.one-third{
  width: 33.333%;
}
.column.one-eighth{
  width: 12.5%;
}
.column.two-thirds{
  width: 66.66666%;
}
@media screen and (min-width:150px) and (max-width:900px) {

  .column{
      text-align: right;
      margin-left: 20px;
      margin-right: 20px;

    }
    }
  }

}
