.weatherBoxes{
  height: 30vh;
  border: 1px solid black;
  text-align: center;
  position: relative;
  padding: 0;
  background-color: rgba(230, 249, 255,0.8);

}
.days{
  margin-top: 1.5em;
}
.icon{

}
.weatherType{
  white-space: nowrap;

}
#map{
  height:60vh;
  width: inherit;
  margin-bottom: 5em;
}
body{
  background-color: #404040;
}
h1{
  font-family: helvetica;
  letter-spacing: .3em;
  color: #f2f2f2;
}
.zone{
  color: #f2f2f2;
  font-family: helvetica;
  letter-spacing: .3em;
}
